<div class="footer">
    <div class="footer-copy">
        <p>@2023 Made by <a href="">Manish Sharma</a></p>

    </div>
    <div class="footer-">
        <h2>Let's Connect</h2>
        <img width="30px" height="30px" style="border-radius: 5px; margin-right: 10px; " src="./assets/github.png" alt="">
        
        <img width="30px" height="30px" style="border-radius: 5px; " src="./assets/link.png" alt="">
        
    </div>
    <div style="margin-top: 10px;">
        <button mat-raised-button>Angular</button>
        <button mat-raised-button>Angular Material</button>
        <button mat-raised-button>Css</button>

    </div>

</div>
