.myprogress{
    display: flex;
    align-items: center;
    padding-top: 250px;
    flex-direction: column;

}
.details{
    color: darkslateblue;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.mydiv2{
    margin-top: 20px;
}
.row{
    margin-top: 50px;
}
.table-responsive{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
.mydiv{
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content:center;
    
}
.data{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
